body,html { font-family:Verdana, "Calibri"; font-size:12px; height:1000px; }
#canvas { position:absolute; width:550px; height:450px; border:1px solid #bbb; }
#map { position:absolute; left:570px; width:550px; height:450px; border:1px solid #bbb; }
.draggable { background-color:#fff; width:150px; position:absolute; z-index:10; cursor:move; }
.draggable div { padding:2px; }
.draggable h5 { padding:1px 5px; margin:1px; }
.server { border-width:1px; border-style:solid; }
.server h5 { text-transformz:uppercase; text-align:center; padding:2px; color:#fff; }
.server div { font-size:10px; text-align:center; padding:2px; }
.server .port { font-weight:normal; }
.server-lb { border-color:#669; }
.server-lb h5 { background-color:#669; }
.server-lb div { display:none; }
.server-rp { border-color:#38ACDA; } 
.server-rp h5 { background-color:#38ACDA; }
.server-j2ee { border-color:#51037f; }
.server-j2ee h5 { background-color:#51037f; }
.server-postgres { border-color:#c00; }
.server-postgres h5 { background-color:#c00; }
.server-passive { border-color:#bbb; color:#666; }
.server-passive h5 { font-style:italic; background-color:#ccc; color:#666; }
.hearbeat { position:absolute; z-index:20; color:red; }
.hover { border-width:2px; margin:-1px; }
.selected { border-width:2px; border-color:#FF4444; margin:-1px; }
